* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
}

/* BODY */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* HEADER */

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
header {
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  padding: 24px 0;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.webcolor {
  color: #4d5ae5;
}
.studiocolor {
  color: #2e2f42;
}
.header-container {
  display: flex;
  justify-content: space-between;
}

.navi {
  display: flex;
  align-items: center;
}
.navi-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.navi-list-item {
  font-weight: 500;
}
.navi-link {
  list-style-type: none;
  text-decoration: none;
  padding: 24px 0;
  display: inline-block;
  color: #2e2f42;
}
.navi-studio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi-studio::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.contacts {
  font-style: normal;
  color: #434455;
  font-size: 400;
}
.contacts-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.contact-link {
  color: #434455;
  text-decoration: none;
  padding: 24px 0;
  display: inline-block;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* SEKCJA PIERWSZA */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/heroimage.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.inline-row {
  display: flex;
  gap: 40px;
  margin-right: 0;
  list-style-type: none;
}

.inline {
  background-color: #ffffff;
  display: inline;
  gap: 40px;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.slogan {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
  padding-bottom: 48px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.effective {
  padding: 188px 0 188px;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  background-color: #2e2f42;
  text-align: center;
}
.btn {
  display: block;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:active {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}
.btn:hover {
  background-color: #404bbf;
}

/* SEKCJA DRUGA */

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h2 {
  text-align: center;
}
p {
  color: #434455;
  letter-spacing: 0.02em;
}

.motto {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  padding: 120px 0;
}
.motto-images {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

/* SEKCJA TRZECIA */

.our-team {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.social-item {
  width: 40px;
  height: 40px;
}
.personel {
  text-align: center;
  margin-bottom: 8px;
}
.personel-div {
  padding: 32px 0;
}
.personel-box {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.social-links-personel {
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  display: flex;
}

.social-media-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icon:hover {
  background-color: #404bbf;
}
.social-media-icon:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}
.team {
  background-color: #f4f4fd;
  color: 2e2f42;
  padding: 120px 0 120px;
}
.job-position {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #434455;
}

.titles {
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.title-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.horizontal {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

/* SEKCJA CZWARTA */
.apps {
  margin-bottom: 8px;
}

.horizontal-portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 24px;
  column-gap: 24px;
  row-gap: 48px;
}
.inline-portfolio {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  /* transition-timing-function: ease-out;
  transition-duration: 500ms; */
}
.inline-portfolio:hover .img-description {
  transform: translateY(0);
}
.inline-portfolio:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.name-category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.img-container {
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 360px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.img-description {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  margin: 0px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  color: #2e2f42;
}

/* FOOTER */

.fstudio {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.footerlogo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footerdiv {
  display: flex;
  align-items: baseline;
}
.logo-paragraph {
  margin-right: 120px;
}
.pfooter {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
}
.social-medias {
  display: flex;
  align-items: baseline;
}
.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-item-footer {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-icon-footer:hover {
  background-color: #31d0aa;
}
.social-media-icon-footer:active {
  background-color: #31d0aa;
}
.social-media-icon-footer:focus {
  background-color: #31d0aa;
}
.icon-footer {
  fill: #f4f4fd;
}
.social-media-icon-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  display: flex;
  gap: 16px;
}
.pformula {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.f-form {
  display: flex;
  gap: 24px;
}

.f-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.f-input::placeholder {
  color: #ffffff;
}
.sub-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.icon-btn-footer {
  margin-left: 16px;
}
.icon-btn-modal {
  margin-left: 16px;
}

/*MODAL*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-modal {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:focus,
.btn-modal:hover {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.svg-modal {
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.svg-modal:hover:focus {
  fill: #ffffff;
}

.p-modal {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}

.form-modal {
  margin-bottom: 8px;
}

.in-label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.after-label-modal {
  position: relative;
}

.after-label-modal:focus-within {
  fill: #4d5ae5;
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:active,
.input-modal:focus {
  fill: #4d5ae5;
  border-color: #4d5ae5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.svg-two-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-modal-two {
  margin-bottom: 16px;
}

.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px, 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}

.textarea-modal:focus {
  border-color: #4d5ae5;
}

.checkbox-etiquette {
  margin-bottom: 24px;
}

.checkbox-etiquette:focus-within {
  fill: #fff;
}

.checkbox {
  visibility: hidden;
}

.etiquette {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-etiquette {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox:checked + .etiquette .span-etiquette {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.svg-etiquette:focus-within {
  fill: #4d5ae5;
}

.btn-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0, 119px;
  transform: translate(50%);
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px;
}

.link-policy {
  color: #4d5ae5;
}
